body{font: 20px arial, sans-serif;}
.navbar {background-color: #298A08}
.quem-somos {background-color: #8181F7; color: white;}
.margin {padding-bottom: 10px; padding-top: 5px;}
.parceiros {background-color: goldenrod; color: white;}
.bg-footer {background-color: black; color: white;}
.top {margin-top: 10px;}